.landing {
  background-color: #383d3b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.landing .img {
  height: fit-content;
  left: .25rem;
  object-fit: cover;
  position: absolute;
  top: 145px;
  width: auto;
  bottom: .25rem;
}

.landing .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: fit-content;
  left: 637px;
  right: 2rem;
  position: absolute;
  top: 100px;
  width: fit-content;
}

.landing .text {
  align-self: stretch;
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100px;
  position: relative;
}

.landing .text-wrapper {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 70px;
  font-weight: 600;
  line-height: 10px;
}

.pomodoro {
  background-image: url(./rectangle-3.png);
  background-size: 100% 100%;
  height: 484px;
  position: relative;
  width: 750px;
}

.pomodoro .div {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
  width: 442px;
}

.pomodoro .p {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 104px;
  width: 651px;
}

.pomodoro .text-wrapper-2 {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 140px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
  width: 424px;
}

.pomodoro .time-buttons-instance {
  left: 494px !important;
  position: absolute !important;
  top: 200px !important;
}

.pomodoro .time-start-instance {
  left: 42px !important;
  position: absolute !important;
  top: 328px !important;
}
