.navbar {
  outline: none;
  user-select: none;
  background-color: #383d3b;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #7c7c7c;
  height: fit-content;
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar .frame {
  text-align: right;
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 7rem;
}


.navbar .text-wrapper {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: none; /* Remove underline */
  list-style: none; /* Remove bullets */
}

.navbar .div {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}
