.navbar {
  background-color: #383d3b;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #7c7c7c;
  height: 94px;
  position: relative;
}

.navbar .frame {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 41px 41px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 33px;
  width: 508px;
}

.navbar .text-wrapper {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.navbar .div-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 25px;
  padding: 10px 10px 10px 0px;
  position: absolute;
  top: 23px;
  width: 268px;
}

.navbar .div {
  color: #eee5e9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-right: -10px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
